<section>
	<% if (usuario.id == 1) {%>
	<!-- só um teste para ver se é o admin mesmo -->
	<div class="row white">
		
		<div class="col s12 center">
			<a href="<%= data.link_sistema%>/admin/adicionar-faculdade" class="ajax-load waves-effect waves-blue btn-flat blue lighten-1 white-text" style="margin-top:10px;">
				<i class="fa fa-plus white-text"></i>
				<span style="margin-left:5px;">Adicionar Faculdade</span>
			</a>

			<a href="<%= data.link_sistema%>/admin/cadastro-faculdade-inep" class="ajax-load waves-effect waves-blue btn-flat blue darken-1 white-text" style="margin-top:10px;">Faculdades Inep</a>

			<a href="<%= data.link_sistema%>/admin/cadastro-cursos" class="ajax-load waves-effect waves-blue btn-flat blue darken-2 white-text" style="margin-top:10px;">Editar Cursos</a>
		</div>



		<div class="col s12">

			<table id='tabela-admin-usuario' class="centered" style="margin-bottom: 20px;">
				<thead>
					<tr>
						<td>Nome da Faculdade</td>
						<td>Sigla da Faculdade</td>
						<td>Usuário que criou</td>
						<td>Alterar Dados</td>
						<td>Excluir</td>
					</tr>
				</thead>
				<tbody>




					<% if (typeof data.faculdades != 'undefined' && data.faculdades.length > 0) {
						for (var i = data.faculdades.length - 1; i >= 0; i--) {
							%>

							<tr>
								<td><%= data.faculdades[i].NO_IES %></td>
								<td><%= data.faculdades[i].SGL_IES %></td>
								<td><%= data.faculdades[i].usuario_criador %></td>
								<td>
									<a data-href="#modalinfo" data-link="/admin/editar-faculdade/1/<%= data.faculdades[i].id %>" class="modal-mount">
										<i class="fas fa-edit"></i>
									</a>
								</td>
								<td>
									<a class="modal-remover-mount" data-href="#modaldeletar" data-texto="Tem certeza que deseja desativar esta faculdade? Esta ação não pode ser desfeita." data-to="/sistema/admin/desativar-faculdade/" data-back="<%= data.link_sistema%>/admin/cadastro-faculdade" data-id="<%= data.faculdades[i].id %>" style="margin-bottom:10px;width: 100%;">
										<i class="fas fa-times red-text text-darken-1"></i>
									</a>
								</td>

							</tr>

							<%}} else {%>
							<tr>
								<td colspan="4">Nenhuma faculdade além da Inep foi encontrada.</td>
							</tr>
							<%} %>

						</tbody>

					</table>
				</div>
			</div>
			<%}else{	%>
			<div>
				<p>Desculpe, somente o administrador pode ver esta página!</p>
			</div>


			<%}%>
		</section>