<div class="row">
	<form method="POST" action="">

		<input type="hidden" name="id" value="<%= data.faculdade[0].id %>">

		<div class="input-field col s12">
			<label for="NO_IES">Nome da Faculdade</label>
			<input  type="text" name="NO_IES" value="<%= data.faculdade[0].NO_IES %>">
		</div>
		<div class="input-field col s12">
			<label for="SGL_IES">Sigla da Faculdade</label>
			<input  type="text" name="SGL_IES" value="<%= data.faculdade[0].SGL_IES %>">
		</div>

		<div class="input-field col s12">
			<label for="descricao">Descrição</label>
			<input type="text" name="descricao" value="<%= data.faculdade[0].descricao %>">
		</div>




		<div class="col s12 m6">
			<a style="width: 100%; text-align: center;" href="" class="modal-action modal-close waves-effect waves-gray btn-flat grey lighten-2">Cancelar</a>
		</div>

		<div class="col s12 m6">
			<button style="width: 100%; text-align: center;" class="modal-action modal-close waves-effect waves-green btn-flat green lighten-2 white-text ajax-submit" data-href="/sistema/admin/editar-faculdade" data-action="<%= data.back%>">Salvar 
			</button>
		</div>



	</form>


</div>