<section>
	<% if (usuario.id == 1) {%>
	<div class="row white">
		<div class="col s12">

			<!-- só um teste para ver se é o admin mesmo -->

			<table id='tabela-admin-usuario' class="centered">
				<thead>
					<tr>
						<td>Nome</td>
						<td>Login</td>
						<td>Nome da Faculdade</td>
						<td>Situacao</td>
						<td>Acessar</td>
						<td>Excluir</td>
						<td>Alterar Senha</td>
					</tr>
				</thead>
				<tbody>




					<% if (typeof data.usuarios != 'undefined' && data.usuarios.length > 0) {
						for (var i = data.usuarios.length - 1; i >= 0; i--) {
							%>

							<tr>
								<td><%= data.usuarios[i].nome %></td>
								<td><%= data.usuarios[i].nome_murer %></td>
								<td><%= data.usuarios[i].faculdade %></td>
								<td>
									<% switch(data.usuarios[i].status){ 
										case 1: %>
										Aluno
										<% break;
										case 2: %>
										Ex-Aluno
										<% break;
										case 3: %>
										Professor
										<% break;
										case 4: %>
										Colaborador
										<%break;}%>
									</td>
									<td>
										<a href="/sistema/usuarios/ver/<%= data.usuarios[i].id %>" class="ajax-load">
											<i class="fas fa-user-edit"></i>
										</a>
									</td>
									<td>
										<a class="modal-remover-mount" data-href="#modaldeletar" data-texto="Tem certeza que deseja desativar esta conta? Esta ação não pode ser desfeita." data-to="/sistema/usuarios/desativar/" data-back="/sistema/admin/usuarios" data-id="<%= data.usuarios[i].id %>" style="margin-bottom:10px;width: 100%;">
										<i class="fas fa-user-times red-text text-darken-1"></i>
										</a>
									</td>

									<td>
										<a class="modal-one-item-mount" data-href="#modaloneitem" data-texto="Tem certeza que deseja alterar a senha desta conta?" data-texto-botao="Alterar Senha" data-cor-botao="green lighten-2" data-to="/sistema/admin/alterarSenhaUsuario/" data-back="/sistema/admin/usuarios" data-id="<%= data.usuarios[i].id %>" style="margin-bottom:10px;width: 100%;">
										<i class="fas fa-key yellow-text text-darken-2"></i>
										</a>
									</td>

								</tr>

								<%}} else {%>
								<tr>
									<td>Nenhum usuário foi encontrado.</td>
								</tr>
								<%} %>

							</tbody>

						</table>
					</div>
				</div>
				<%}else{	%>
				<div>
					<p>Desculpe, somente o administrador pode ver esta página!</p>
				</div>


				<%}%>
			</section>