<!-- <section id="chats">
  <ul class="collection">
    <%
    if (typeof data != 'undefined' && data.length > 0) {
      for (var i = data.length - 1; i >= 0; i--) {
    %>
    <a href="/sistema/chats/ver/<%= data[i].id_usuario2 %>" class="black-text ajax-load" data-top="1">
      <li class="collection-item avatar">
        <img src="/assets/uploads/<%= data[i].imagem %>" alt="" class="circle">
        <span class="title"><%= data[i].nome_murer %></span>
        <p><small><%= data[i].nome %><br>
          <%= data[i].email %></small>
        </p>
        <a class="secondary-content"><i class="fa fa-comments blue-text"></i></a>
      </li>
    </a>
  <%
    }
  } else {
  %>
    <li class="center-align">
      Nenhum contato foi adicionado, <a href="/sistema/usuarios/contatos">clique aqui para adicionar contatos</a>
    </li>
  <%
  }
  %>
  </ul>
</section> -->