<%
if (typeof data.perfil != 'undefined' && data.perfil.length > 0) {
	for (var i = data.perfil.length - 1; i >= 0; i--) {
		%>
		<section>
			<div class="center">
				<%
				if( data.perfil[i].id == usuario.id) {
					%>
					<form method="POST" action="#" style="position: absolute;right: 5%;" data-href="/sistema/usuarios/uploadfoto" data-action="/sistema/usuarios/ver/<%= usuario.id %>">
						<div class="file-field input-field">
							<div class="btn-floating btn-large waves-effect waves-light blue darken-3" style="width: 44px;height: 41px;">
								<i class="fas fa-edit" aria-hidden="true" style="line-height: 44px; margin-right: -5px;"></i>
								<input type="file" accept="image/*" id="imagem_perfil" name="imagem_perfil" data-href="/sistema/postagens/uploadarquivo">
								<input type="hidden" name="imagem">
							</div>
						</div>
					</form>
					<%
				}
				%>

				<img class="mur-img" src="/assets/uploads/<%= data.perfil[i].imagem %>">
				<form method="POST" action="">
					<input type="hidden" name="id_usuario" value="<%= usuario.id %>">
					<input type="hidden" name="id_usuario2" value="<%= data.perfil[i].id %>">
					<%
					if (data.perfil[i].amigos <= 0 && data.perfil[i].id != usuario.id) {
						%>
						<a href="" class="btn blue darken-2 ajax-submit" data-href="/sistema/usuarios/contatos/adicionar/" data-action="/sistema/usuarios/ver/<%= data.perfil[i].id %>" style="width: 100%;margin-top: -8px;">Adicionar Usuário</a>
						<%
					} else if(data.perfil[i].id != usuario.id) {
						%>
						<a href="" class="btn red darken-2 ajax-submit" data-href="/sistema/usuarios/contatos/remover/" data-action="/sistema/usuarios/ver/<%= data.perfil[i].id %>" style="width: 100%;margin-top: -8px;">Excluir dos Contatos</a>
						<%
					}
					%>
				</form>
			</div>
			<ul class="row center tabs tabs-fixed-width">
				<li class="tab col <%= usuario.tipo == 1 ? 's4' : 's6' %> blue-mur">
					<a href="#post-user">
						<i class="fa fa-list-alt" aria-hiden="true"></i>
					</a>
				</li>
				<li class="tab col <%= usuario.tipo == 1 ? 's4' : 's6' %> blue-mur">
					<a href="#info-user">
						<i class="fa fa-info-circle" aria-hiden="true"></i>
					</a>
				</li>
<!-- 				<%
				if (data.perfil[i].amigos == 1) {
					%>
					<li class="tab col s4 blue-mur">
						<a class="swipe-margin ajax-load" href="/sistema/chats">
							<i class="fa fa-comments" aria-hiden="true"></i>
						</a>
					</li>
					<%
				}
				%> -->
			</ul>
			<div id="post-user" class="swipe-margin">
				<div class="row">
					<%- include('../postagens/postagens'); %>
				</div>
			</div>
			<div id="info-user" class="swipe-margin">

				<div class="container">
					<div class="row">

						<% console.log(data.perfil[i].tipo)%>
						<% console.log(data.perfil[i].amigos)%>

						<div class="card-panel panel-full">
							<div class="card-content">
								MurEr <%- data.perfil[i].id == usuario.id ? '<span class="blue-text modal-input right" data-nome="MurEr" data-id="'+data.perfil[i].id+'" data-collum="nome_murer"><i class="fa fa-edit"></i></span>' : '' %>
							</div>
							<div class="card-title">
								<%= data.perfil[i].nome_murer %>
							</div>
						</div>

						<div class="card-panel panel-full">
							<div class="card-content">
								Nome <%- data.perfil[i].id == usuario.id ? '<span class="blue-text modal-input right" data-nome="Nome" data-id="'+data.perfil[i].id+'" data-collum="nome"><i class="fa fa-edit"></i></span>' : '' %>
							</div>
							<div class="card-title">
								<%= data.perfil[i].nome %>
							</div>
						</div>

						<div class="card-panel panel-full">
							<div class="card-content">
								Email <%- data.perfil[i].id == usuario.id ? '<span class="blue-text modal-input right" data-nome="Email" data-id="'+data.perfil[i].id+'" data-collum="email"><i class="fa fa-edit"></i></span>' : '' %>
							</div>
							<div class="card-title">
								<%= data.perfil[i].email %>
							</div>
						</div>

						<div class="card-panel panel-full">
							<div class="card-content">
								Telefone <%- data.perfil[i].id == usuario.id ? '<span class="blue-text modal-input right" data-nome="Telefone" data-id="'+data.perfil[i].id+'" data-collum="celular"><i class="fa fa-edit"></i></span>' : '' %>
							</div>
							<div class="card-title">
								<%= data.perfil[i].celular %>
							</div>
						</div>

						<!-- Divulgador ou Faculdade -->
						<%if(data.perfil[i].tipo == 2 || data.perfil[i].tipo == 3){%>

						<div class="card-panel panel-full">
							<div class="card-content">
								Descrição <%- data.perfil[i].id == usuario.id ? '<span class="blue-text modal-input right" data-nome="Descrição" data-id="'+data.perfil[i].id+'" data-collum="descricao"><i class="fa fa-edit"></i></span>' : '' %>
							</div>
							<div class="card-title">
								<%= data.perfil[i].descricao %>
							</div>
						</div>


						<div class="card-panel panel-full">
							<div class="card-content">
								Site <%- data.perfil[i].id == usuario.id ? '<span class="blue-text modal-input right" data-nome="Site" data-id="'+data.perfil[i].id+'" data-collum="site"><i class="fa fa-edit"></i></span>' : '' %>
							</div>
							<div class="card-title">
								<a href="<%= data.perfil[i].site %>" target="_blank"><%= data.perfil[i].site %></a>
							</div>
						</div>

						<!-- Divulgador ou Faculdade que eu sou amigo ou sou a própria faculdade -->
						<% if(data.perfil[i].amigos == 1 || data.perfil[i].id == usuario.id || usuario.id == 1){%>

						<div class="card-panel panel-full">
							<div class="card-content">
								Nome do Contato <%- data.perfil[i].id == usuario.id ? '<span class="blue-text modal-input right" data-nome="Contato" data-id="'+data.perfil[i].id+'" data-collum="nome_contato"><i class="fa fa-edit"></i></span>' : '' %>
							</div>
							<div class="card-title">
								<%= data.perfil[i].nome_contato %>
							</div>
						</div>

						<%}}%>

						<!-- Sou Murer Comum e sou amigo do usuário -->

						<% if((data.perfil[i].tipo == 1 && data.perfil[i].amigos == 1 || 
						data.perfil[i].tipo == 1 && data.perfil[i].id == usuario.id) || data.perfil[i].tipo == 1 && usuario.id == 1){%>

						<div class="card-panel panel-full">
							<div class="card-content">
								Universidade
							</div>
							<div class="card-title">
								<%= typeof data.perfil[i].faculdade != 'undefined' && data.perfil[i].faculdade != '' ? data.perfil[i].faculdade : 'Não Informado' %>
							</div>
						</div>

						<div class="card-panel panel-full">
							<div class="card-content">
								Curso <%- data.perfil[i].id == usuario.id ? '<span class="blue-text modal-input right" data-nome="Curso" data-id="'+data.perfil[i].id+'" data-collum="curso"><i class="fa fa-edit"></i></span>' : '' %>
							</div>
							<div class="card-title">
								<%= typeof data.perfil[i].curso != 'undefined' && data.perfil[i].curso != '' ? data.perfil[i].curso : 'Não Informado' %>
							</div>
						</div>

						<div class="card-panel panel-full">
							<div class="card-content">
								Situação <%- data.perfil[i].id == usuario.id ? '<span class="blue-text modal-input right" data-nome="Situação" data-id="'+data.perfil[i].id+'" data-collum="status"><i class="fa fa-edit"></i></span>' : '' %>
							</div>
							<div class="card-title">
								<% switch(data.perfil[i].status){ 
									case 0: %>
									Não Definido
									<% break;
									case 1: %>
									Aluno
									<% break;
									case 2: %>
									Ex-Aluno
									<% break;
									case 3: %>
									Professor
									<% break;
									case 4:	%>
									Divulgador
									<%break;}%>
								</div>
							</div>


							<div class="card-panel panel-full">
								<div class="card-content">
									Gênero <%- data.perfil[i].id == usuario.id ? '<span class="blue-text modal-input right" data-nome="Gênero" data-id="'+data.perfil[i].id+'" data-collum="genero"><i class="fa fa-edit"></i></span>' : '' %>
								</div>
								<div class="card-title">
									<%= data.perfil[i].genero %>
								</div>
							</div>

							<div class="card-panel panel-full">
								<div class="card-content">
									Data de Nascimento <%- data.perfil[i].id == usuario.id ? '<span class="blue-text modal-input right" data-nome="Data de Nascimento" data-id="'+data.perfil[i].id+'" data-collum="nascimento"><i class="fa fa-edit"></i></span>' : '' %>
								</div>
								<div class="card-title">
									<%= data.perfil[i].nascimento %>
								</div>
							</div>

							<div class=" col s6 card-panel panel-full">
								<div class="card-content">
									UF(onde reside) <%- data.perfil[i].id == usuario.id ? '<span class="blue-text modal-input right" data-nome="UF" data-id="'+data.perfil[i].id+'" data-collum="uf"><i class="fa fa-edit"></i></span>' : '' %>
								</div>
								<div class="card-title">
									<%= data.perfil[i].uf %>
								</div>
							</div>

							<div class=" col s6 card-panel panel-full">
								<div class="card-content">
									Cidade(onde reside) <%- data.perfil[i].id == usuario.id ? '<span class="blue-text modal-input right" data-nome="Cidade" data-id="'+data.perfil[i].id+'" data-collum="cidade"><i class="fa fa-edit"></i></span>' : '' %>
								</div>
								<div class="card-title">
									<%= data.perfil[i].cidade %>
								</div>
							</div>

							<%}%>

							<!-- Sou o próprio usuário vendo meu perfil -->
							<% if(data.perfil[i].id == usuario.id) {%>

							<a href="/sistema/usuarios/alterar-senha/" class="btn waves-effect waves-light green darken-1 ajax-load" style="margin-bottom:10px;width: 100%;">
								Alterar Senha
							</a>

							<%}%>


							<% if(data.perfil[i].id == usuario.id || usuario.id == 1) {%>

							<a class="red darken-1 btn modal-remover-mount" data-href="#modaldeletar" data-texto="Tem certeza que deseja desativar esta conta? Esta ação não pode ser desfeita." data-to="/sistema/usuarios/desativar/" data-back="/sistema/usuarios/contatos" data-id="<%= data.perfil[i].id %>" style="margin-bottom:10px;width: 100%;">
								Desativar Conta
							</a>


							<%}%>


						</div>
					</div>


				</div>

			</div>
			<%
			if (usuario.tipo == 1) {
				%>
				<div id="test-swipe-3" class="swipe-margin">
				</div>
				<%
			}
			%>
		</section>
		<script type="text/javascript">
			$('#footer').fadeOut('slow');
		</script>
		<%
	}
} else {
	if(error == 1){ %>

	<p>Sentimos Muito, sua Faculdade não postou nada!</p>

	<% }else if(error == 2){%>
	<p> Sentimos Muito, você não inseriu uma Faculdade no seu cadastro. </p>
	<%}else{
		%>
		<p class="center-align">
			Sentimos Muito, não existem postagens!
		</p>
		<%
	}
}
%>