<%
if (typeof data.perfil != 'undefined' && data.perfil.length > 0) {
	for (var i = data.perfil.length - 1; i >= 0; i--) {
%>
	<div class="card-panel panel-full">
		<div class="card-content">
			MurEr <%- data.perfil[i].id == usuario.id ? '<span class="blue-text right modal-input" data-nome="MurEr" data-id="'+data.perfil[i].id+'" data-collum="nome_murer"><i class="fa fa-edit"></i></span>' : '' %>
		</div>
		<div class="card-title">
			<%= data.perfil[i].nome_murer %>
		</div>
	</div>
	<div class="card-panel panel-full">
		<div class="card-content">
			Universidade <%- data.perfil[i].id == usuario.id ? '<span class="blue-text right modal-input" data-nome="Universidade" data-id="'+data.perfil[i].id+'" data-collum="id_faculdade"><i class="fa fa-edit"></i></span>' : '' %>
		</div>
		<div class="card-title">
			<%= typeof data.perfil[i].faculdade != 'undefined' && data.perfil[i].faculdade != '' ? data.perfil[i].faculdade : 'Não Informado' %>
		</div>
	</div>
	<div class="card-panel panel-full">
		<div class="card-content">
			Curso <%- data.perfil[i].id == usuario.id ? '<span class="blue-text right modal-input" data-nome="Curso" data-id="'+data.perfil[i].id+'" data-collum="id_curso"><i class="fa fa-edit"></i></span>' : '' %>
		</div>
		<div class="card-title">
			<%= typeof data.perfil[i].curso != 'undefined' && data.perfil[i].curso != '' ? data.perfil[i].curso : 'Não Informado' %>
		</div>
	</div>
	<div class="card-panel panel-full">
		<div class="card-content">
			E-Mail <%- data.perfil[i].id == usuario.id ? '<span class="blue-text right modal-input" data-nome="E-mail" data-id="'+data.perfil[i].id+'" data-collum="email"><i class="fa fa-edit"></i></span>' : '' %>
		</div>
		<div class="card-title">
			<%= data.perfil[i].email %>
		</div>
	</div>
	<div class="card-panel panel-full">
		<div class="card-content">
			Gênero <%- data.perfil[i].id == usuario.id ? '<span class="blue-text right modal-input" data-nome="Gênero" data-id="'+data.perfil[i].id+'" data-collum="genero"><i class="fa fa-edit"></i></span>' : '' %>
		</div>
		<div class="card-title">
			<%= data.perfil[i].genero %>
		</div>
	</div>
	<div class="card-panel panel-full">
		<div class="card-content">
			Data de Nascimento <%- data.perfil[i].id == usuario.id ? '<span class="blue-text right modal-input" data-nome="Data de Nascimento" data-id="'+data.perfil[i].id+'" data-collum="nascimento"><i class="fa fa-edit"></i></span>' : '' %>
		</div>
		<div class="card-title">
			<%= data.perfil[i].nascimento %>
		</div>
	</div>
	<div class="col s7 card-panel">
		<div class="card-content">
			País <%- data.perfil[i].id == usuario.id ? '<span class="blue-text right modal-input" data-nome="País" data-id="'+data.perfil[i].id+'" data-collum="pais"><i class="fa fa-edit"></i></span>' : '' %>
		</div>
		<div class="card-title">
			<%= data.perfil[i].pais %>
		</div>
	</div>
	<div class=" col s4 right card-panel">
		<div class="card-content">
			UF <%- data.perfil[i].id == usuario.id ? '<span class="blue-text right modal-input" data-nome="UF" data-id="'+data.perfil[i].id+'" data-collum="uf"><i class="fa fa-edit"></i></span>' : '' %>
		</div>
		<div class="card-title">
			<%= data.perfil[i].uf %>
		</div>
	</div>
	<div class=" col s12 right card-panel">
		<div class="card-content">
			Cidade <%- data.perfil[i].id == usuario.id ? '<span class="blue-text right modal-input" data-nome="Cidade" data-id="'+data.perfil[i].id+'" data-collum="cidade"><i class="fa fa-edit"></i></span>' : '' %>
		</div>
		<div class="card-title">
			<%= data.perfil[i].cidade %>
		</div>
	</div>
	<% if(data.perfil[i].id == usuario.id) {
	%>
	<div class="col s12 center-align">
		<a class="red darken-1 btn modal-remover-mount" data-href="#modaldeletar" data-texto="Tem certeza que deseja desativar sua conta? Esta ação não pode ser desfeita." data-to="/sistema/usuarios/desativar/" data-back="/sistema/usuarios/ver/<%= data.perfil[i].id %>" data-id="<%= data.perfil[i].id %>">Desativar Conta</a>
	</div>
	<%
	}
	%>
<%
	}
} else {
%>
	<p class="center-align">
		Nenhuma resultado foi encontrado.
	</p>
<%
}
%>