<div class="row">
	<%
	if (typeof data.postagens != 'undefined' && data.postagens.length > 0) {
		for (var i = data.postagens.length - 1; i >= 0; i--) {
			%>
			<div class="col s12">
				<div class="col s12 m6 l4  post parent center-no-float">
					<div class="card medium"> <!-- style="position: relative;" -->
						<div class="card-image mur-card-img card-image-background-desktop">
							<img src="/assets/uploads/<%= data.postagens[i].imagem %>">
						</div>
						<div class=" grey lighten-3 blue-text actions relative col s12">
							<div class="left-align col s6">
								<a class="GiveLike <%= data.postagens[i].gostei >= 1 ? 'active' : '' %>" data-id="<%= data.postagens[i].id %>" data-id_usuario="<%= usuario.id %>" data-gostei="<%= data.postagens[i].gostei %>">
									<i class="fa fa-thumbs-up"></i>
									<%- data.postagens[i].qtd_gostei >= 1 ? '<span class="qtd_likes">'+data.postagens[i].qtd_gostei+'</span>' : '' %>
								</a>
								<a href="" class="modal-mount-inteiro" data-href="#modalinfo-footer" data-link="/postagens/comentarios/<%= data.postagens[i].id %>">
									<i class="fa fa-comments"></i>
									<%- data.postagens[i].qtd_comentario >= 1 ? '<span class="qtd_likes">'+data.postagens[i].qtd_comentario+'</span>' : '' %>
								</a>
							</div>
							<%
							if (data.postagens[i].id_usuario == usuario.id || usuario.id == 1) {
								%>
								<div class="right-align col s6 horizontal fixed-action-btn click-to-toggle">
									<a class="">
										<i class="fa fa-ellipsis-h"></i>
									</a>
									<ul>
										<li><a class="btn-floating red white-text modal-remover-mount" data-href="#modaldeletar" data-id="<%= data.postagens[i].id %>" data-to="/sistema/postagens/desativar/" data-back="/sistema" data-texto="Você tem deseja remover esta publicação? Esta ação não poderá ser desfeita."><i class="fa fa-times"></i></a></li>
									</ul>
								</div>
								<%
							}
							%>
						</div>
						<div class="card-content <%= data.postagens[i].descricao != '' && data.postagens[i].descricao != null ? 'text-content' : '' %> left-align">
							<p><%= data.postagens[i].descricao %></p>
						</div>
						<div class="post-bottom">
							<div class="small-line"></div>
							<small>
								<div class="card-content white">
									<div class="col s8 left-align">
										<p>Publicado por: <a href="/sistema/usuarios/ver/<%= data.postagens[i].id_usuario %>" class="ajax-load"><%= data.postagens[i].usuario %></p></a>
									</div>
									<div class="col s4 right-align">
										<p>Em: <%= data.postagens[i].data_atualizado %></p>
									</div>
								</div>
							</small>
						</div>
					</div>
				</div>
			</div>
			<%
		}
	} else {
		%>
		<p class="center-align">
			Nenhum resultado foi encontrado.
		</p>
		<%
	}
	%>
</div>